requerimiento 2 json/requerimiento 2 completo orinigal que se esta replicando/definition.json
{"name":"0d6c3460-de00-450b-904a-e8c69bb04eca","id":"/providers/Microsoft.Flow/flows/0d6c3460-de00-450b-904a-e8c69bb04eca","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Revision actual V(9)","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"ca93a10b-e557-4030-8144-474dc6738dfa","type":"User","tenantId":"2bac32fd-d9a2-40d9-a272-3a35920f5607"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-08-14T20:09:06.1257597Z","connectionKeySavedTimeKey":"2025-08-14T20:09:06.1257597Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Month","interval":1,"startTime":"2025-05-23T22:00:00.000Z"},"metadata":{"operationMetadataId":"6e133a6a-de90-4bed-a691-db6f57692dfe"},"type":"Recurrence","description":"lee la tabla prueba (9) con 80 evidencias y nombre complejos, mejorado el mensaje "}},"actions":{"Enumerar_las_filas_de_una_tabla":{"runAfter":{},"metadata":{"01KPDBUQPW62N3MMNP3VALKK6DKVFFRUJX":"/2do requerimiento/CalificacionesPruebas (1).xlsx","tableId":"{3D2AEC78-A8C8-487E-80FA-7A9514FF4292}","operationMetadataId":"edc28dab-2c9c-45bf-bffa-26f459889504","01KPDBUQK2MNYSYDJLPNDZ7N3TF4BEBJPR":"/2do requerimiento/Calificaciones pruebas(7).xlsx","01KPDBUQNTESEPF2HQSZBKE6NIUN4UVKGP":"/2do requerimiento/Calificaciones V8.xlsx"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!WLUoO2GrQ0G1HeJgEk-fIrBhPoanMNREtIwtbwKTDaIgLZ_EBjscQp-P_5XlzhLk","file":"01KPDBUQNTESEPF2HQSZBKE6NIUN4UVKGP","table":"{3D2AEC78-A8C8-487E-80FA-7A9514FF4292}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Total_aprobadas":{"runAfter":{"Enumerar_las_filas_de_una_tabla":["Succeeded"]},"metadata":{"operationMetadataId":"f0063b20-80dc-4f13-8f22-0563da91a0fe"},"type":"InitializeVariable","inputs":{"variables":[{"name":"TotalAprobadas","type":"integer","value":0}]}},"Total_evidencias":{"runAfter":{"Total_aprobadas":["Succeeded"]},"metadata":{"operationMetadataId":"37880723-cffc-4a77-a873-0cab2be49299"},"type":"InitializeVariable","inputs":{"variables":[{"name":"TotalEvidencias","type":"integer","value":0}]}},"cuerpoMensaje":{"runAfter":{"porcentaje":["Succeeded"]},"metadata":{"operationMetadataId":"72f47906-21cf-45cf-8e8a-938aad54475e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"cuerpoMensaje","type":"string"}]}},"Aplicar_a_cada_estudiante":{"foreach":"@body('Filtrar_matriz')","actions":{"Aplicar_a_cada_evidencia":{"foreach":"@outputs('evidencias_a_revisar')","actions":{"calificacion":{"metadata":{"operationMetadataId":"7902319a-05bd-4738-97d1-f6eff4fb035f"},"type":"Compose","inputs":"@items('Aplicar_a_cada_estudiante')[items('Aplicar_a_cada_evidencia')]\r\n"},"comprueba_calificación":{"runAfter":{"calificacion":["Succeeded"]},"metadata":{"operationMetadataId":"659a611e-3198-49ac-a728-606cd446d963"},"type":"Compose","inputs":"@outputs('calificacion')"},"no_es_vacío_":{"actions":{"Incrementa_Total_Evidencias":{"metadata":{"operationMetadataId":"a477faaa-73a1-47da-866c-79ea6c51015b"},"type":"IncrementVariable","inputs":{"name":"TotalEvidencias","value":1}},"es_A":{"actions":{"Incrementar_aprobadas":{"metadata":{"operationMetadataId":"f6c0433c-458b-4223-a961-3f99b6c84a54"},"type":"IncrementVariable","inputs":{"name":"TotalAprobadas","value":1}}},"runAfter":{"Incrementa_Total_Evidencias":["Succeeded"]},"else":{"actions":{"Anexar_a_cuerpomensaje":{"runAfter":{"datos_cuerpoMensaje":["Succeeded"]},"metadata":{"operationMetadataId":"9243abe8-4f2a-4d91-8c33-3632bb7e129e"},"type":"AppendToStringVariable","inputs":{"name":"cuerpoMensaje","value":"@concat(outputs('datos_cuerpoMensaje'), '\r\n')"}},"datos_cuerpoMensaje":{"metadata":{"operationMetadataId":"34d34b44-9b45-4f55-9c5a-87ec3fcad05d"},"type":"Compose","inputs":"@{concat(items('Aplicar_a_cada_evidencia'), ' : ', outputs('calificacion'), '<br>')\r\n} "}}},"expression":{"and":[{"equals":["@outputs('calificacion')","A"]}]},"metadata":{"operationMetadataId":"4070aa78-2e46-4d3b-9e04-6be635a2c162"},"type":"If"}},"runAfter":{"comprueba_calificación":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"not":{"equals":["@outputs('calificacion')",""]}}]},"metadata":{"operationMetadataId":"bf2120c6-0719-42b7-972a-ae0393030f9e"},"type":"If"}},"runAfter":{"evidencias_a_revisar_4":["Succeeded"]},"metadata":{"operationMetadataId":"97e36425-367b-4cc7-b087-adc85f567d55"},"type":"Foreach"},"evidencias_a_revisar":{"runAfter":{"Establecer_cuerpoMensaje4":["Succeeded"]},"metadata":{"operationMetadataId":"6aff6dac-910c-4ff2-8738-366ec95b5738"},"type":"Compose","inputs":"@createArray(\r\n  'AP1_Técnico_Formulación_del_proyecto_de_software_GA1_220501092-AA1_EV01',\r\n  'AP1_Técnico_Diseño_del_instrumento_de_recolección_de información_GA1_220501092_AA1_EV02',\r\n  'AP1_Técnico_Especificación_de_los_requerimientos_funcionales_y_no_funcionales_del_software_ GA1_220501092_AA4_EV01_EV02_EV03',\r\n  'AP1_Técnico_Informe_de_evaluación_de_los_requerimientos_GA1_220501092_AA5-EV01_EV02',\r\n  'AP1_Inglés_Evidencia_de_desempeño_y_producto_Diapositivas_con_el_guión_y_Video_Family_member_or_friend_introduction_GA1_240202501_AA1_EV012',\r\n  'AP1_Técnico_Documento_identificando_la_metodología_para_el_proyecto_de_desarrollo_de_software_GA1_220501093_AA1_EV01_EV02_EV03_EV04',\r\n  'AP1_Comunicación_Mapa_conceptual_Software_y_servicios_de_nternet_Relacionar_correctamente_los_tipos_de_software_y_servicios_de_internet_GA1_220501046_AA1_EV01',\r\n  'AP1_Transversal_Hábitos_saludables_GA1_230101507_AA2_EV01',\r\n  'AP1_Técnico_Taller_Utilización_de_las_herramientas_de ofimática_ Realizar_un taller_práctico_con_las_herramientas_ofimáticas_GA1_220501046_AA2_EV01',\r\n  'AP1_Técnico_Informe_mejora_de_productos_y_procesos_con_la incorporación_de_TIC_GA1_220501046_AA3_EV01',\r\n  'AP2_Técnico_elaboración_de_diagramas_y_plantillas_para_casos_de_uso_del proyecto_GA2_220501093_AA1_ EV01_EV02_ EV03_ EV04',\r\n  'AP2_Técnico_Elaboración_de_los_diagramas_del_modelo_de_dominio_del_proyecto_GA2_220501093_AA2_EV01',\r\n  'AP2_Técnico_ Elaboración_del_informe_de análisis_con_listas_de_chequeo_para_la_validación_de_artefactos_GA2_220501093_AA3_EV01_EV02',\r\n  'AP2_Emprendimiento_AA2_AA3_EV01_Evidencias_de_Ficha_técnica_de_los_productos_requeridos_los_términos_de_referencia_para_el_contrato_y_lista_de_chequeo_para_evaluación_de_proveedores_AA4_EV01_Evidencia_de producto_Propuestas_técnica_y_económica',\r\n  'AP2_Instructor_Transversal_SST_Ambiental_y_Cultura_Física_Cultura_física_y_planteamiento_de_Actividades_físicas_y_Coordinación_Motriz_Higiene_Postural_y_Pausas_Activas_en_el_Desempeño_Social_y_Laboral_GA2_230101507_AA1_AA3_AA4_EV01',\r\n  'AP2_Técnico_Evidencia_de_desempeño_Diseño_de_las_fichas_técnicas_para_la_recolección_de_la_información_GA2_220501094_AA1_EV01_EV02_EV03',\r\n  'AP2_Inglés_Evidencia_de_producto_crónica_GA2_240202501_AA1_EV01',\r\n  'AP2_Matemáticas_Cuestionario_procedimientos_aritméticos_GA2_240201528_AA1_EV01',\r\n  'AP2_Matemáticas_Evidencia_de_producto_Video_sustentación_GA2_240201528_AA3_EV01',\r\n  'Ap2_Inglés_Evidencia_de_desempeño_Presentación_GA2_240202501_AA2_EV01',\r\n  'AP2_Matemáticas_Algoritmo_para_el_cálculo_de_áreas_y_volúmenes_GA2_240201517_AA1_AA4_EV01_2',\r\n  'AP2_Comunicación_Ejemplo_de_una_marca_sostenible_que_cumpla_con_Triple_Bottom_Line_GA2_240201526_AA1_EV01'\r\n)"},"Establecer_cuerpoMensaje":{"runAfter":{"Establecer_totalAprobadas":["Succeeded"]},"metadata":{"operationMetadataId":"c960f340-62b7-47ff-816e-a8e67f98d977"},"type":"SetVariable","inputs":{"name":"cuerpoMensaje","value":"'"}},"Establecer_totalEvidencias":{"type":"SetVariable","inputs":{"name":"TotalEvidencias","value":0}},"Establecer_totalAprobadas":{"runAfter":{"Establecer_totalEvidencias":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TotalAprobadas","value":0}},"Aplicar_a_cada_evidencia2":{"foreach":"@outputs('evidencias_a_revisar_2')","actions":{"calificacion2":{"type":"Compose","inputs":"@items('Aplicar_a_cada_estudiante')[items('Aplicar_a_cada_evidencia2')]"},"no_es_vacío_2":{"actions":{"Incrementa_Total_Evidencias_1":{"metadata":{"operationMetadataId":"a477faaa-73a1-47da-866c-79ea6c51015b"},"type":"IncrementVariable","inputs":{"name":"TotalEvidencias","value":1}},"es_A_2":{"actions":{"Incrementar_aprobadas_1":{"metadata":{"operationMetadataId":"f6c0433c-458b-4223-a961-3f99b6c84a54"},"type":"IncrementVariable","inputs":{"name":"TotalAprobadas","value":1}}},"runAfter":{"Incrementa_Total_Evidencias_1":["Succeeded"]},"else":{"actions":{"Anexar_a_cuerpomensaje_1":{"runAfter":{"datos_cuerpoMensaje1":["Succeeded"]},"metadata":{"operationMetadataId":"9243abe8-4f2a-4d91-8c33-3632bb7e129e"},"type":"AppendToStringVariable","inputs":{"name":"cuerpoMensaje2","value":"@concat(outputs('datos_cuerpoMensaje1'), '\r\n')"}},"datos_cuerpoMensaje1":{"metadata":{"operationMetadataId":"34d34b44-9b45-4f55-9c5a-87ec3fcad05d"},"type":"Compose","inputs":"@concat(items('Aplicar_a_cada_evidencia2'), ' : ', outputs('calificacion2'), '<br>')\r\n"}}},"expression":{"and":[{"equals":["@outputs('calificacion2')","A"]}]},"metadata":{"operationMetadataId":"4070aa78-2e46-4d3b-9e04-6be635a2c162"},"type":"If"}},"runAfter":{"calificacion2":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"not":{"equals":["@outputs('calificacion2')",""]}}]},"metadata":{"operationMetadataId":"bf2120c6-0719-42b7-972a-ae0393030f9e"},"type":"If"}},"runAfter":{"Retraso_seccion2":["Succeeded"]},"type":"Foreach"},"evidencias_a_revisar_2":{"runAfter":{"evidencias_a_revisar":["Succeeded"]},"type":"Compose","inputs":"@createArray(\r\n  'AP3_Técnico_Taller_de_resolución_de_problemas_de_algoritmos_en_pseudocódigo_y_diagramas_de_flujo_con_estructuras_GA3_220501093_AA1_AA2_EV01',\r\n  'AP3_Transversal_Cuestionario_sobre_opciones_de_solución_a_situaciones_que_se_presentan_en_el_contexto_ambiental_y_del_SST_GA3_220601501_AA1_EV0',\r\n  'AP3_Técnico_Taller_aplicando_estructuras_y_procedimientos_en_la_solución_de_algoritmos_JavaScript_GA3_220501093_AA2_EV01',\r\n  'AP3_Técnico_Resolución_a_problemas_algorítmicos_aplicando_funciones_y_estructuras_de_almacenamiento_JavaScript_GA3_220501093_AA3_EV01',\r\n  'AP3_Técnico_Resolución_de_estructuras_funciones_y_structuras_de_almacenamiento_Java_GA3_220501093_AA3_EV02',\r\n  'AP3_Técnico_Resolución_de_estructuras_funciones_y_estructuras_de_almacenamiento_Java_GA3_220501093_AA3_EV02',\r\n  'AP3_Transversal_SST_Identificación_de_Peligros_y_Riesgos_Laborales_y_ambientales_Consecuencias_y_Determinación_de_Controles_GA220601501_AA2_AA3_AA4_EV1_1',\r\n  'AP3_Inglés_Evidencia_de_conocimiento_Video_GA3_240202501_AA1_AA2_EV01','AP4_Técnico_Identificar_entidades_y_relaciones_planteadas_en_el_caso_de_estudio_Laboratorio_GA4_220501093_AA1_EV01',\r\n  'AP4_Técnico_Modelos_conceptual_y_lógico_para_el_proyecto_desarrollo_de_software_Proyecto_GA4_220501095_AA1_AA2_EV01',\r\n  'Evidencia_de_desempeño_Video_La_comunicación_como_expresión_humana_GA4_240201524_AA1_EV01',\r\n  'AP4_Técnico_Principios_de_programación_orientada_a_objetos_con_UML_y_patrones_de_diseño_GA4_220501095_AA2_EV01_EV03',\r\n  'AP4_Técnico_Desarrollar_la_arquitectura_de_software_de_acuerdo_al_patrón_de_diseño_seleccionado_GA4_220501095_AA2_EV04_EV05',\r\n  'AP4_Técnico_Diagrama_de_despliegue_para_caso_de_estudio_y_proyecto_de_software_GA4_220501095_AA3_EV01',\r\n  'AP4_Inglés_mapa_mental_sobre_su_Personal_Learning_Environment_PLE_GA4_240202501_AA1_EV01',\r\n  'AP4_Comunicación_Presentación_Proyecto_de_vida_GA4_240201524_AA2_EV01'\r\n)\r\n"},"Retraso_seccion2":{"runAfter":{"evidencias_a_revisar_4":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"Establecer_cuerpoMensaje2":{"runAfter":{"Establecer_cuerpoMensaje":["Succeeded"]},"type":"SetVariable","inputs":{"name":"cuerpoMensaje2","value":"'"}},"evidencias_a_revisar_3":{"runAfter":{"evidencias_a_revisar_2":["Succeeded"]},"type":"Compose","inputs":"@createArray(\r\n  'AP5_Técnico_Maquetación_de_la_Interfaz_gráfica_en_HTML_GA5_220501095_AA1_EV02',\r\n  'AP5_Técnico_Maquetación_de_la_interfaz_gráfica_en_XML_Android_GA5_220501095_AA1_EV04',\r\n  'AP5_Inglés_Diagrama_de_flujo_sobre_las_instrucciones_de_un_proceso_relacionado_con_su_quehacer_laboral_GA5_240202501_AA1_EV01',\r\n  'AP5_Física_Cuestionario_Fundamentos_de_Física_GA_220201501_AA1',\r\n  'AP5_Física_Video_expositivo_sobre_experimento_de_aplicación_GA5_220201501_AA2_EV01',\r\n  'AP5_Física_GA3_220201501_AA2_AA3_AA4_EV01_Informe_de_laboratorio','AP6_Técnico_Resolución_de_problemas_aplicando_el_modelo_relacional_cardinalidad_y_normalización_LABORATORIO_GA6_220501096_AA1_EV01_EV02',\r\n  'AP6_Técnico_Creación_de_los_objetos_de_la_base_de_datos_y_Elaboración_de_las_bases_de_datos_GA6_220501096_AA1_EV03_EV04',\r\n  'AP6_Técnico_Destrezasy_conocimientos_en_el_manejo_de_sentencias_DDL_y_DML_de_SQL_GA6_220501096_AA2_EV01',\r\n  'AP6_Técnico_Creación_de_la_estructura_de_la_BD_aplicación_de_restricciones_y_Script_bases_de_datos_del_proyecto_GA6_220501096_AA2_EV02_EV03',\r\n  'AP6_Emprendimiento_Modelo_financiero_Proyectar_viabilidad_financiera_del_emprendimiento_GA11_240201529_AA3_EV01',\r\n  'AP6_Técnico_Evidencia_de_desempeño_Creación_de_la_estructura_de_la_BD_y_aplicación_de_restricciones_NoSQL_GA6_220501096_AA2_EV04',\r\n  'AP6_Derechos_Funamentales_Características_del_trabajo_en_contexto_Local_GA6_210201501_AA1_EV1',\r\n  'AP6_Técnico_Crear_diseño_de_sitio_web_con_la_implementación_de_componentes_frontend_HTML_CSS_JS_GA6_220501096_AA3_EV01_EV02_EV03'\r\n\r\n)"},"evidencias_a_revisar_4":{"runAfter":{"evidencias_a_revisar_3":["Succeeded"]},"type":"Compose","inputs":"@createArray(\r\n  'AP7_Técnico_Herramientas_de_versionamiento_GIT_instalada_y_configurada_GA7_220501096_AA1_EV01',\r\n  'AP7_Inglés_Evidencia_de_Conocimiento_Documento_escrito_sobre_un_tema_específico_de_su_actividad_laboral_o_programa_de_formación_GA7_240202501_AA1_EV01',\r\n  'AP7_Técnico_POO_Ejercicios_de_programación_con_estructuras_de_datos_en_Java_GA7_220501096_AA2_EV02',\r\n  'AP7_Técnico_Desarrollo_del_Tutorial_Construcción_de_aplicación_con_Java_GA7_220501096_AA2_EV03',\r\n  'AP7_Inglés_Evidencia_de_Producto_Video_sobre_el_tema_específico_de_su_actividad_laboral_o_programa_de_formación_GA7_240202501_AA1_EV02',\r\n  'AP7_Técnico_Desarrollo_de_aplicaciones_con_conexión_a_base_de_datos_desde_PHP_GA7_220501096_AA2_EV05',\r\n  'AP7_Técnico_Módulos_de_software_codificados_y_probados_GA7_220501096_AA2_EV05',\r\n  'AP7_Derechos_fundamentales_Trabajo_decente_ciudadanía_laboral_derechos_individuales_y_colectivos_en_el_trabajo_negociación_colectiva_y_huelga_GA8_210201501_AA2_EV1',\r\n  'AP7_Técnico_Componente_frontend_del_proyecto_formativo_y_proyectos_de_clase_listas_de_chequeo_Diseño_y_desarrollo_de_servicios_web_API_del_proyecto_GA7_220501096_AA4_EV01_EV02_EV07',\r\n  'AP7_Comunicación_Cátedra_Video_presentación_Proyecto_de_vida_GA8_240201526_AA2_EV01',\r\n  'AP7_Investigación_Conocimiento_y_producto_Propuesta_de_investigación_formativa_GA8_240201064_AA1_EV01',\r\n  'AP7_Técnico_Taller_sobre_tecnologías_emergentes_y_disruptivas_Machine_Learning_y_Blockchain_GA8_220501096_AA2_EV01_EV02_EV03',\r\n  'AP7_Comunicación_Cátedra_Diagrama_de_sistemas_Relación_del_individuo_con_el_entorno_GA8_240201526_AA3_EV01',\r\n  'AP7_Técnico_APK_desarrollar_módulos_móvil_segun_requerimientos_del_proyecto_GA8_220501096_AA2_EV02',\r\n  'AP7_Técnico_Documenta_y_realiza_pruebas_de_software_de_acuerdo_con_la_planificación_y_reporte_de_pruebas_GA9_220501096_AA1_AA2_AA3_EV01_EV02',\r\n  'AP7_Comunicación_cátedra_Mapa_mental_Hitos_del_conflicto_armado_en_Colombia_en_los_últimos_50_años_GA9_240201526_AA6_EV01','AP8_Técnico_Elaborar_plan_de_validación_de_características_mínimas_de_hardware_para_el_software_y_plan_de_validación_de_características_mínimas_de_hardware_para_el_software_GA10_20501097_AA1_AA2_AA3_EV01',\r\n  'AP8_Derechos_fundamentales_Violación_de_derechos_del_trabajo_Derecho_de_petición_y_la_acción_de_tutela_GA10_210201501_AA3_AA4_EV1',\r\n  'AP8_Técnico_Realizar_la_configuración_de_servicios_bases_de_datos_y_software_en_el_equipo_del_cliente_GA10_220501097_AA4_AA5_AA6_EV01',\r\n  'AP8_Taller_de_reflexión_escrita_Caso_Malala_GA10_240201526_AA4_EV01',\r\n  'AP8_Emprendimiento_Evidencia_de_conocimiento_DOFA_personal_Identificar_habilidades_personales_como_emprendedor_GA10_240201529_AA1_EV01',\r\n  'AP8_Técnico_Realizar_las_pruebas_funcionales_de_software_planes_de_mantenimiento_y_soporte_y_Documentación_y_procesos_de_migración_GA10_220501097_AA7_AA8_AA9_EV01',\r\n  'AP8_Emprendimiento_Evidencia_de_desempeño_Modelo_Canvas_del_emprendimiento_Crear_modelo_de_negocio_en_el_que_se_caracteriza_el_emprendimiento_GA10_240201529_AA2_EV01',\r\n  'AP8_Tecnico_Elabora_documentos_tecnicos_y_de_usuario_del_software_manual_de_usuario_tecnico_plan_de_capacitacion_y_acta_de_entrega_del_proyecto_de_software_GA10_220501097_AA10_EV01_AA11_EV01_AA12_EV01_AA13_EV01','AP9_Emprendimiento_Presentacion_diapositivas_anteproyecto_formativo_GA10_240201529_AA4_EV01',\r\n  'AP9_Tecnico_Realiza_ajustes_procesos_desarrollo_metricas_documentar_cambios_bitacora_GA11_220501098_AA2_EV01_EV02_AA3_EV01_EV02',\r\n  'AP9_Emprendimiento_Comunicacion_Evidencia_desempeno_Sustentacion_Proyectos_GA11_220501098_AA3_EV01'\r\n)"},"Establecer_cuerpoMensaje3":{"runAfter":{"Establecer_cuerpoMensaje2":["Succeeded"]},"type":"SetVariable","inputs":{"name":"cuerpoMensaje3","value":"'"}},"Establecer_cuerpoMensaje4":{"runAfter":{"Establecer_cuerpoMensaje3":["Succeeded"]},"type":"SetVariable","inputs":{"name":"cuerpoMensaje4","value":"'"}},"Retraso_seccion3":{"runAfter":{"Retraso_seccion2":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"Aplicar_a_cada_evidencia3":{"foreach":"@outputs('evidencias_a_revisar_3')","actions":{"calificacion3":{"type":"Compose","inputs":"@items('Aplicar_a_cada_estudiante')[items('Aplicar_a_cada_evidencia3')]"},"no_es_vacío_3":{"actions":{"Incrementa_Total_Evidencias_2":{"metadata":{"operationMetadataId":"a477faaa-73a1-47da-866c-79ea6c51015b"},"type":"IncrementVariable","inputs":{"name":"TotalEvidencias","value":1}},"es_A_3":{"actions":{"Incrementar_aprobadas_2":{"metadata":{"operationMetadataId":"f6c0433c-458b-4223-a961-3f99b6c84a54"},"type":"IncrementVariable","inputs":{"name":"TotalAprobadas","value":1}}},"runAfter":{"Incrementa_Total_Evidencias_2":["Succeeded"]},"else":{"actions":{"Anexar_a_cuerpomensaje_2":{"runAfter":{"datos_cuerpoMensaje3":["Succeeded"]},"metadata":{"operationMetadataId":"9243abe8-4f2a-4d91-8c33-3632bb7e129e"},"type":"AppendToStringVariable","inputs":{"name":"cuerpoMensaje3","value":"@concat(outputs('datos_cuerpoMensaje3'), '\r\n')"}},"datos_cuerpoMensaje3":{"metadata":{"operationMetadataId":"34d34b44-9b45-4f55-9c5a-87ec3fcad05d"},"type":"Compose","inputs":"@concat(items('Aplicar_a_cada_evidencia3'), ' : ', outputs('calificacion3'), '<br>')\r\n"}}},"expression":{"and":[{"equals":["@outputs('calificacion3')","A"]}]},"metadata":{"operationMetadataId":"4070aa78-2e46-4d3b-9e04-6be635a2c162"},"type":"If"}},"runAfter":{"calificacion3":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"not":{"equals":["@outputs('calificacion3')",""]}}]},"metadata":{"operationMetadataId":"bf2120c6-0719-42b7-972a-ae0393030f9e"},"type":"If"}},"runAfter":{"Retraso_seccion3":["Succeeded"]},"type":"Foreach"},"Retraso_seccion4":{"runAfter":{"Retraso_seccion3":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"Aplicar_a_cada_evidencia4":{"foreach":"@outputs('evidencias_a_revisar_4')","actions":{"calificacion4":{"type":"Compose","inputs":"@items('Aplicar_a_cada_estudiante')[items('Aplicar_a_cada_evidencia4')]"},"no_es_vacío_4":{"actions":{"Incrementa_Total_Evidencias_4":{"metadata":{"operationMetadataId":"a477faaa-73a1-47da-866c-79ea6c51015b"},"type":"IncrementVariable","inputs":{"name":"TotalEvidencias","value":1}},"es_A_4":{"actions":{"Incrementar_aprobadas_4":{"metadata":{"operationMetadataId":"f6c0433c-458b-4223-a961-3f99b6c84a54"},"type":"IncrementVariable","inputs":{"name":"TotalAprobadas","value":1}}},"runAfter":{"Incrementa_Total_Evidencias_4":["Succeeded"]},"else":{"actions":{"Anexar_a_cuerpoMensaje_4":{"runAfter":{"datos_cuerpoMensaje4":["Succeeded"]},"metadata":{"operationMetadataId":"9243abe8-4f2a-4d91-8c33-3632bb7e129e"},"type":"AppendToStringVariable","inputs":{"name":"cuerpoMensaje4","value":"@concat(outputs('datos_cuerpoMensaje4'), '\r\n')"}},"datos_cuerpoMensaje4":{"metadata":{"operationMetadataId":"34d34b44-9b45-4f55-9c5a-87ec3fcad05d"},"type":"Compose","inputs":"@concat(items('Aplicar_a_cada_evidencia4'), ' : ', outputs('calificacion4'), '<br>')\r\n"}}},"expression":{"and":[{"equals":["@outputs('calificacion4')","A"]}]},"metadata":{"operationMetadataId":"4070aa78-2e46-4d3b-9e04-6be635a2c162"},"type":"If"}},"runAfter":{"calificacion4":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"not":{"equals":["@outputs('calificacion4')",""]}}]},"metadata":{"operationMetadataId":"bf2120c6-0719-42b7-972a-ae0393030f9e"},"type":"If"}},"runAfter":{"Retraso_seccion4":["Succeeded"]},"type":"Foreach"},"comprobación_aprobadas":{"runAfter":{"Aplicar_a_cada_evidencia4":["Succeeded"]},"metadata":{"operationMetadataId":"2e2282d8-74ed-4cbb-a7c3-a6c1a7468cd5"},"type":"Compose","inputs":"@variables('TotalAprobadas')"},"comprobación_total_evidencias":{"runAfter":{"comprobación_aprobadas":["Succeeded"]},"metadata":{"operationMetadataId":"7e11678b-e939-4a97-9404-7c928318e033"},"type":"Compose","inputs":"@variables('TotalEvidencias')"},"comprobación_cuerpoMensaje_":{"runAfter":{"comprobación_total_evidencias":["Succeeded"]},"metadata":{"operationMetadataId":"e59943db-f9c0-4d4d-8cc7-4aa694f1846d"},"type":"Compose","inputs":"@variables('cuerpoMensaje')"},"Establecer_porcentaje":{"runAfter":{"comprobación_cuerpoMensaje_":["Succeeded"]},"metadata":{"operationMetadataId":"8e1c1e9b-3045-4536-b535-8c42ba7ad8cf"},"type":"SetVariable","inputs":{"name":"Porcentaje","value":"@if(greater(variables('TotalEvidencias'), 0), div(mul(variables('TotalAprobadas'), 100), variables('TotalEvidencias')), 0)"}},"comprobación_porcentaje":{"runAfter":{"Establecer_porcentaje":["Succeeded"]},"metadata":{"operationMetadataId":"2e91cde4-8982-4e4a-94e4-033649a8004c"},"type":"Compose","inputs":"@variables('Porcentaje')"},"nombre_aprendiz":{"runAfter":{"comprobación_porcentaje":["Succeeded"]},"type":"Compose","inputs":"@items('Aplicar_a_cada_estudiante')?['NOMBRE DEL APRENDIZ']"},"es_100":{"actions":{"Enviar_correo_electrónico_(V2)":{"metadata":{"operationMetadataId":"5bd19061-6fd3-4437-bf4a-09f38552e568"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@items('Aplicar_a_cada_estudiante')?['correo']","emailMessage/Subject":"Felicitaciones ","emailMessage/Body":"<p class=\"editor-paragraph\"><br>Querido Aprendiz@{outputs('nombre_aprendiz')}</p><p class=\"editor-paragraph\">Tienes un cumplimiento de 100% al momento de la revision ,<br>continua asi,<br>Equipo ejecutor</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Bloque_fase4":["Succeeded"]},"else":{"actions":{"es_99_y_70":{"actions":{"Enviar_correo_electrónico_(V2)_1":{"metadata":{"operationMetadataId":"e501b5c3-a1dc-47f2-b138-2c1c68474dcb"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@items('Aplicar_a_cada_estudiante')?['correo']\r\n","emailMessage/Subject":"Seguimiento","emailMessage/Body":"<p class=\"editor-paragraph\">Aprendiz @{outputs('nombre_aprendiz')} tiene un cumplimiento del @{variables('Porcentaje')} %<br><br>Coloquese al dia en las siguinetes actividades:</p><br><p class=\"editor-paragraph\">@{outputs('Bloque_fase1')}</p><p class=\"editor-paragraph\">@{outputs('Bloque_fase2')}</p><p class=\"editor-paragraph\">@{outputs('Bloque_fase3')}</p><p class=\"editor-paragraph\">@{outputs('Bloque_fase4')}</p><p class=\"editor-paragraph\"><br><br><br>Equipo ejecutor</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"Enviar_correo_electrónico_(V2)_2":{"metadata":{"operationMetadataId":"507d7e25-2918-4031-a1d4-e0105a2a3986"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@items('Aplicar_a_cada_estudiante')?['correo']","emailMessage/Subject":"Llamado atención","emailMessage/Body":"<p class=\"editor-paragraph\">Aprendiz @{outputs('nombre_aprendiz')} tiene un cumplimiento del @{variables('Porcentaje')} %<br><br>Coloquese al dia en las siguinetes actividades:<br><br>@{outputs('Bloque_fase1')}<br>@{outputs('Bloque_fase2')}<br>@{outputs('Bloque_fase3')}<br>@{outputs('Bloque_fase4')}<br><br><br>Equipo ejecutor</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"lessOrEquals":["@variables('Porcentaje')",99]},{"greaterOrEquals":["@variables('Porcentaje')",70]}]},"metadata":{"operationMetadataId":"ba50d6c5-c2d0-463e-9385-d969e06f0962"},"type":"If"}}},"expression":{"and":[{"equals":["@variables('Porcentaje')",100]}]},"metadata":{"operationMetadataId":"61e74106-c1f1-48b6-b78a-8ab90fb74f09"},"type":"If"},"Bloque_fase1":{"runAfter":{"nombre_aprendiz":["Succeeded"]},"type":"Compose","inputs":"@if(equals(variables('cuerpoMensaje'), ''''), '', concat('Fase 1\n', variables('cuerpoMensaje'), '\n'))"},"Bloque_fase2":{"runAfter":{"Bloque_fase1":["Succeeded"]},"type":"Compose","inputs":"@if(equals(variables('cuerpoMensaje2'), ''''), '', concat('Fase 2\r\n', variables('cuerpoMensaje2'), '\r\n'))"},"Bloque_fase3":{"runAfter":{"Bloque_fase2":["Succeeded"]},"type":"Compose","inputs":"@if(equals(variables('cuerpoMensaje3'), ''''), '', concat('Fase 3\r\n', variables('cuerpoMensaje3'), '\r\n'))"},"Bloque_fase4":{"runAfter":{"Bloque_fase3":["Succeeded"]},"type":"Compose","inputs":"@if(equals(variables('cuerpoMensaje4'), ''''), '', concat('Fase 4\r\n', variables('cuerpoMensaje4'), '\r\n'))"}},"runAfter":{"Filtrar_matriz":["Succeeded"]},"metadata":{"operationMetadataId":"38a6c856-0894-4177-a880-7a647d11b875"},"type":"Foreach"},"Filtrar_matriz":{"runAfter":{"cuerpoMensaje4":["Succeeded"]},"metadata":{"operationMetadataId":"469315e3-ca26-4a47-9dfc-36d75a72bcfa"},"type":"Query","inputs":{"from":"@outputs('Enumerar_las_filas_de_una_tabla')?['body/value']","where":"@equals(item()?['ESTADO'],'En Formación')"}},"porcentaje":{"runAfter":{"Total_evidencias":["Succeeded"]},"metadata":{"operationMetadataId":"c994f3f2-6c2c-40f6-979e-c443a0ffb505"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Porcentaje","type":"float"}]}},"cuerpoMensaje2":{"runAfter":{"cuerpoMensaje":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"cuerpoMensaje2","type":"string"}]}},"cuerpoMensaje3":{"runAfter":{"cuerpoMensaje2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"cuerpoMensaje3","type":"string"}]}},"cuerpoMensaje4":{"runAfter":{"cuerpoMensaje3":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"cuerpoMensaje4","type":"string"}]}}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-262a407b-18d2-4c86-b9a5-716b0038419b","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"shared-office365-cf6e06ba-2602-41da-9b35-cefe72c706a0","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}